<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create laboratory file</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="display-5">Select file from IMAL</h2>
    <div>
      <label class="btn">
        <input type="file" (change)="selectFile($event)">
      </label>
    </div>
    <div class="col-4">
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload File</button>
    </div>
    <div *ngIf="currentFile" class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{progress}}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{width: progress+'%'}">{{progress}}%
      </div>
    </div>

    <div *ngIf="message" role="alert">{{message}}</div>
    <div *ngIf="errorMessage" role="alert">{{errorMessage}}</div>
  </div>
</div>


<br>
<br>

<div *ngIf="progress">
  <app-second-page></app-second-page>
</div>

